<div class="col-sm-5 border">
  <form class="form-inline justify-content-center">
    <div class="input-group mb-3">
      <label>Email Change<label>
    </div>
  </form>
  <form class="form-inline justify-content-center">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">E</span>
      </div>
      <input type="text" class="form-control" placeholder="Previous Address" aria-label="Previous Address" aria-describedby="basic-addon1">
    </div>
  </form>
    <form class="form-inline justify-content-center">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">*</span>
        </div>
        <input type="text" class="form-control" placeholder="New Email" aria-label="New Email" aria-describedby="basic-addon1">
      </div>
    </form>
    <form class="form-inline justify-content-center">
      <div class="input-group mb-3">
        <button type="button" class="btn btn-dark" id="ChangeEmail">Change</button>
      </div>
    </form>
  </div>
