<!-- Name form to allow user to edit the name assossiated with their account !-->
<div class="col-sm-12 border">
  <!-- Form that holds the name change label!-->
  <form class="form-inline justify-content-center">
    <div class="input-group mb-3">
      <label>Name Change<label>
    </div>
  </form>
  <form class="form-inline justify-content-center">
    <!-- Form that will hold our addon and our text input box!-->
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">*</span>
      </div>
      <input type="text" class="form-control" placeholder="New Name" aria-label="New Name" aria-describedby="basic-addon1">
    </div>
  </form>
    <form class="form-inline justify-content-center">
      <!-- Form that will hold our update button-->
      <div class="input-group mb-3">
        <button type="button" class="btn btn-dark" id="UpdateName">Update</button>
      </div>
    </form>
  </div>
