
  <div class="col-sm-5 border">
    <form class="form-inline justify-content-center">
      <div class="input-group mb-3">
        <label>Name Change<label>
      </div>
    </form>
    <form class="form-inline justify-content-center">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">*</span>
        </div>
        <input type="text" class="form-control" placeholder="New Name" aria-label="New Name" aria-describedby="basic-addon1">
      </div>
    </form>
      <form class="form-inline justify-content-center">
        <div class="input-group mb-3">
          <button type="button" class="btn btn-dark">Update</button>
        </div>
      </form>
    </div>
