<!-- Password change form that allows user to edit password !-->
<div class="col-sm-12 border">
  <!-- Form that holds the password change label!-->
  <form class="form-inline justify-content-center">
    <div class="input-group mb-3">
      <label>Password Change<label>
    </div>
  </form>
  <form class="form-inline justify-content-center">
    <!-- Form that will hold our addon and our text input box!-->
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">*</span>
      </div>
      <input type="text" class="form-control" placeholder="Current Password" aria-label="Current Password" aria-describedby="basic-addon1">
    </div>
  </form>
  <form class="form-inline justify-content-center">
    <!-- Form that will hold our addon and our text input box!-->
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">*</span>
      </div>
      <input type="text" class="form-control" placeholder="New Password" aria-label="New Password" aria-describedby="basic-addon1">
    </div>
  </form>
  <form class="form-inline justify-content-center">
    <!-- Form that will hold our addon and our text input box!-->
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">*</span>
      </div>
      <input type="text" class="form-control" placeholder="Confirm Password" aria-label="Confirm Password" aria-describedby="basic-addon1">
    </div>
  </form>
  <form class="form-inline justify-content-center">
    <!-- Form that will hold our update button-->
    <div class="input-group mb-3">
      <button type="button" class="btn btn-dark" id="ChangePassword">Update</button>
    </div>
  </form>
</div>
