<!-- Here is the Placement Edit page, for use of Companies and Admin -->
<div class="placementEdit">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-3">
        <button type="button" class=" btn btn-outline-dark"><i class="fas fa-angle-left"></i> Return to Page</button>
      </div>
      <div class="col-md-6">
        <h4>*Create a new Placement*</h4>
      </div>
      <span class="col-md-6"></span>
    </div>
    <!-- This form group contains input textboxes as well as text areas for Companies to input information -->
    <div class="form-group">
      <label for="companyName">Company Name : </label>
      <input type="text" class="form-control" id="companyName">
    </div>
    <div class="form-group">
      <label for="placementTitle">Placement Title : </label>
      <input type="text" class="form-control" id="placementTitle">
    </div>
    <div class="form-group">
      <label for="about">About the Placement : </label>
      <textarea class="form-control" rows="3" id="about"></textarea>
    </div>
    <div class="form-group">
      <label for="placementRequirements">Requirements : </label>
      <textarea class="form-control" rows="3" id="placementRequirements"></textarea>
    </div>
    <div class="form-group">
      <label for="placementSubject">Placement Subject : </label>
      <input type="text" class="form-control" id="placementSubject">
    </div>
    <div class="form-group">
      <label for="placementLength">Length of Placement : </label>
      <input type="text" class="form-control" id="placementLength">
    </div>
    <div class="form-group">
      <label for="placementLocation">Location : </label>
      <input type="text" class="form-control" id="placementLocation">
    </div>
    <div class="form-group">
      <label for="placementAddress">Address : </label>
      <input type="text" class="form-control" id="placementAddress">
    </div>
    <div class="form-group">
      <label for="placementCity">City : </label>
      <input type="text" class="form-control" id="placementCity">
    </div>
    <div class="form-group">
      <label for="placementPostcode">Postcode : </label>
      <input type="text" class="form-control" id="placementPostcode">
    </div>
    <div class="form-group">
      <label for="placementPay">Pay : </label>
      <input type="text" class="form-control" id="placementPay">
    </div>
    <div class="form-group">
      <label for="placementLink">Link : </label>
      <input type="text" class="form-control" id="placementLink">
    </div>
    <div class="form-group">
      <label for="howToApply">How to Apply : </label>
      <input type="text" class="form-control" id="howToApply">
    </div>
    <div class="form-group">
      <label for="dateAdded">Date Added : </label>
      <input type="text" class="form-control" id="dateAdded">
    </div>
    <!-- Here is a button group which is used to contain the Save and Cancel buttons.
        Using the built in success/cancel button means there is no need to apply css to each individual
        button. It is styled automatically -->
    <div class="btn-group">
      <button type="button" class="btn btn-success">Create</button>
      <button type="button" class="btn btn-danger">Cancel</button>
    </div>
  </div>
</div>
