<div class="jumbotron description">
  <div class="bg-cover"></div>
  <div class="container">
      <%if (!student) { %>
  	    <h1 class="display-4">Welcome to PlaceMate</h1>
      <% } else { %>
        <h1 class="display-4">Welcome Back <%= student.first_name%> <%= student.last_name%>!</h1>
      <% } %>
	  <p class="lead">PlaceMate is a placement search engine, focused on finding real-world opportunities for upcoming professionals. Search for any subject field or company name and see what opportunities we can offer you? </p>
	<!--   <hr class="my-4">
	  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
	  <p class="lead">
	  	<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
	  </p> -->
  </div>
</div>