<footer class="footer fixed-bottom">
  <div class="container">  
    <div class="row justify-content-center text-center">
      <div class="col-4">
        About
      </div>
      <div class="col-4">
        Contact Us
      </div>
      <div class="col-4">
        PlaceMate 2018
      </div>
    </div>
  </div>
</footer>