<!-- Here is the code for the Header which we will implement in all the pages
      as it will not change. This will then be included to each page through
      linking to the page files. -->
<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#"><img alt="Logo" src="images/logo.png" style="width: 200px;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <% if (student){ %>
            <button type="button" class="btn btn-outline-secondary" id="logoutbtn">
                Logout <%= student.first_name %></button>
            <% } else { %>
            <button type="button" class="btn btn-outline-secondary" id="loginbtn">Login</button>
            <% } %>
        </div>
    </nav>
</header>
