<div class="row loginform">
    <div class="col-sm-6">
      <!-- Form that holds the user login label!-->
      <form class="form-inline justify-content-center">
        <div class="input-group mb-3">
          <label>User Login<label>
        </label></label></div>
      </form>
      <form class="form-inline justify-content-center">
        <!-- Form that will hold our addon and our text input box!-->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">@</span>
          </div>
          <input type="text" class="form-control" placeholder="Student Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
      </form>
      <!-- Form that will hold our addon and our text input box!-->
      <form class="form-inline justify-content-center">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">*</span>
          </div>
        <input type="text" class="form-control" placeholder="Student Password" aria-label="Username" aria-describedby="basic-addon1">
        </div>
      </form>
      <form class="form-inline justify-content-center">
        <!-- Class to contain our login button!-->
        <div class="input-group mb-3">
          <button type="button" class="btn btn-dark" id="UserLogin">Log in</button>
        </div>
      </form>
    </div>
    <div class="col-sm-6">
    <!-- Form that holds the user login label!-->
    <form class="form-inline justify-content-center">
      <div class="input-group mb-3">
        <label>Company Login<label>
      </div>
    </form>
    <form class="form-inline justify-content-center">
      <!-- Form that will hold our addon and our text input box!-->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">@</span>
        </div>
        <input type="text" class="form-control" placeholder="Company Username" aria-label="Username" aria-describedby="basic-addon1">
      </div>
    </form>
      <form class="form-inline justify-content-center">
        <!-- Form that will hold our addon and our text input box!-->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">*</span>
          </div>
          <input type="text" class="form-control" placeholder="Company Password" aria-label="Username" aria-describedby="basic-addon1">
        </div>
      </form>
      <form class="form-inline justify-content-center">
        <!-- Class to contain our login button!-->
        <div class="input-group mb-3">
          <button type="button" class="btn btn-dark" id="CompanyLogin">Log in</button>
        </div>
      </form>
    </div>
  </div>
