<!-- This page just contains a bunch of buttons to use as a navigation bar!-->
<div class= "content justify-content-center text-center">
  <button class="btn btn-outline-secondary" type="button" id="indexButton">
    Index page
  </button>
  <button class="btn btn-outline-secondary" type="button" id="accountButton">
    Account Edit Page
  </button>
  <button class="btn btn-outline-secondary" type="button" id="loginButton">
    Login Page
  </button>
  <button class="btn btn-outline-secondary" type="button" id="searchButton">
    Search Page
  </button>
  <button class="btn btn-outline-secondary" type="button" id="infoButton">
    Placement information
  </button>
</div>
