<div class="placementEdit">
  <br>
  <h4>*EDIT MODE*</h4>
  <br>
  <div class="form-group">
    <label for="placementName">Placement Name : </label>
    <input type="text" class="form-control" id="placementName">
  </div>
  <div class="form-group">
    <label for="companyBio">Company Bio : </label>
    <textarea class="form-control" rows="5" id="companyBio"></textarea>
  </div>
  <div class="form-group">
    <label for="placementRole">Placement Role : </label>
    <textarea class="form-control" rows="5" id="placementRole"></textarea>
  </div>
  <div class="form-group">
    <label for="howToApply">How to Apply : </label>
    <textarea class="form-control" rows="5" id="howToApply"></textarea>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-success">Save</button>
    <button type="button" class="btn btn-danger">Cancel</button>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>

</div>
