<div class="placementEdit">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-3">
        <button type="button" class=" btn btn-outline-dark"><i class="fas fa-angle-left"></i> Return to Page</button>
      </div>
      <div class="col-md-4">
        <h4>*EDIT MODE*</h4>
      </div>
      <span class="col-md-6"></span>
    </div>
    <div class="form-group">
      <label for="placementName">Placement Name : </label>
      <input type="text" class="form-control" id="placementName">
    </div>
    <div class="form-group">
      <label for="companyBio">Company Bio : </label>
      <textarea class="form-control" rows="5" id="companyBio"></textarea>
    </div>
    <div class="form-group">
      <label for="placementRole">Placement Role : </label>
      <textarea class="form-control" rows="5" id="placementRole"></textarea>
    </div>
    <div class="form-group">
      <label for="howToApply">How to Apply : </label>
      <textarea class="form-control" rows="5" id="howToApply"></textarea>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-success">Save</button>
      <button type="button" class="btn btn-danger">Cancel</button>
    </div>
  </div>
</div>
