<div class="placementInfo">

  <h3>Technology Summer Placement - PwC</h3>
  <br>
  <h6><u>About PwC: </u></h6>
  <p>Our purpose is to build trust in society and solve important problems. We do this for our clients by helping them tackle complex business challenges, improve how they work and create the value they need.</p>
  <br>
  <h6><u>Your Role: </u></h6>
  <p>On our summer internship you’ll experience work and life at PwC, and gain a valuable insight into our business and culture. You'll get a real taste of life at the heart of the business, working alongside graduate trainees and experienced professionals on live and interesting client projects.</p>
  <br>
  <h6><u>Requirements: </u></h6>
  <ul>
    <li>You'll need to be in your penultimate year of an undergraduate or postgraduate degree; or </li>
    <li>You'll need to be in your final year of an undergraduate degree with a one year postgraduate place confirmed.</li>
    <li>You'll need to be on course for a 2.1 degree.</li>
  </ul>
  <br>
  <h6><u>How to Apply: </u></h6>
  <p><strong>Below is a link to our Application Forms.</strong></p>
  <p>http://www.careersstudent.pwc.co.uk/ListJobs/All/Search/entry-route/technology/entry-route-group/internships/</p>
  <br>
  <p>Alternatively, click the button below to be redirected automatically.</p>
  <br>
  <button type="button" class="applyButton" style="float:right;" onclick="alert('Redirecting you, hold on.')">Apply Now!</button>

</div>
