<!--
Purpose: Create a register form that can allow a user or company to register an account
 -->
 <!-- Why: Chose to use an accordion as it saves space - rather than scrolling through loads of input boxes.
            Accordion looks sleeker and is easier to use.
  -->
<div id="accordion" class="registerContent">
  <div class="card">
    <div class="card-header" id="StudentCard">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseStudent" aria-expanded="true" aria-controls="collapseStudent">
          <!-- Used "fas fa-user" as it is a premade icon for a User.
              You wouldn't reinvent the wheel - why remake an icon?
            -->
          <i class="fas fa-user"></i>
          Student Register
        </button>
      </h5>
    </div>
<!-- Start of the Student register block  -->
    <div id="collapseStudent" class="collapse show" aria-labelledby="StudentCard" data-parent="#accordion">
      <div class="card-body">
        <!-- Used: alert-warning - a premade alert to warn the user of something.
                  We chose to use this so that the Student doesn't miss an input field.
        -->
        <div class="alert alert-warning alert-dismissible fade show" role="alert" id="FieldError" style="display: none">
          <strong>No Anakin!</strong> You should check in on some of those fields below.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- Use of form class contains elements such as; Email input and Password input.
        -->
        <form class="form-register" method="post">
          <h1 class="h3 mb-3 font-weight-normal">Student Register</h1>
          <hr>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="email-addon"><i class="fas fa-envelope"></i></span>
            </div>
            <input id="student-email" name="email" type="text" class="form-control" placeholder="example@example.co.uk" aria-label="Email" aria-describedby="email-addon" required autofocus>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="password-addon"><i class="fas fa-unlock-alt"></i></span>
            </div>
            <input id="student-password" name="password" type="password" class="form-control" placeholder="***Create a Password***" aria-label="Password" aria-describedby="password-addon">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="password-addon"><i class="fas fa-unlock-alt"></i></span>
            </div>
            <input id="student-password-confirm" name="password" type="password" class="form-control" placeholder="***Confirm Password***" aria-label="Password" aria-describedby="password-addon">
          </div>
          <small id="studentHelpBlock" class="form-text text-muted">
              Please Sign up with your Email and Create a Password.
          </small>
          <button class="btn btn-lg btn-primary btn-block" type="button" id="StudentRegister">Register</button>
        </form>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="CompanyCard">
      <h5 class="mb-0">
        <!-- btn-link collapsed: As part of Accordion we used this class
              to be able to collapse each section when required.
        -->
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseCompany" aria-expanded="false" aria-controls="collapseCompany">
          <i class="fas fa-building"></i>
          Company Register
        </button>
      </h5>
    </div>

    <!-- Start of the Company register block -->
    <div id="collapseCompany" class="collapse" aria-labelledby="CompanyCard" data-parent="#accordion">
      <div class="card-body">
        <form class="form-register">
          <h1 class="h3 mb-3 font-weight-normal">Company Register</h1>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="email-addon"><i class="fas fa-user"></i></span>
            </div>
            <input id="company-name" type="text" class="form-control" placeholder="PlaceMate Corporation" aria-label="Email" aria-describedby="email-addon" required autofocus>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="password-addon"><i class="fas fa-unlock-alt"></i></span>
            </div>
            <input id="company-password" type="password" class="form-control" placeholder="********" aria-label="Password" aria-describedby="password-addon">
          </div>
          <small id="companyHelpBlock" class="form-text text-muted">
              Please email a request to become a PlaceMate Company Partner then Register with the provided Credentials.
          </small>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
