<div class="container">
	<div class="row justify-content-center text-center search-bar">
	  <div class="col-8">
	    <div class="input-group mb-3">
	      <input type="text" class="form-control" placeholder="Search for Placements" aria-label="Search for Placements" aria-describedby="basic-addon2">
	      <div class="input-group-append">
	        <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i> Search</button>
	      </div>
	    </div>
	  </div>        
	</div>
</div>
