<div class="searchResults">
        <!-- This will be a placeholder for the design to show John -->
    <br>
    <h4><a href="">Technology Summer Placement - PwC</a></h4>
    <h6>With us, you’ll be at the forefront of new initiatives and explore emerging technologies and trends to help businesses. Whether that’s helping clients understand how technology can help them unlock their potential and protect their businesses, or using big data to provide insight and help steer strategy, this could be the right opportunity for you.</h6>
    <p>Location: Nationwide</p>
    <p>Unpaid</p>
    <hr>
    <br>
    <h4><a href="">Technical Software Engineer - Atlas Knowledge</a></h4>
    <h6>Our mission is to create products that inform, develop and protect people to maximise operational performance where safety is most critical. We offer exciting career opportunities throughout our organisation, from sales, media development and instructional design to QC and customer service.</h6>
    <p>Location: Aberdeen</p>
    <p>Unpaid</p>
    <hr>
    <br>
    <h4><a href="">Technical Sales Placement - Intel</a></h4>
    <h6>You know us best for our processors. But we do so much more. Intel has continuously expanded the reach, influence and power of computing to improve people's everyday lives. Our technology is a critical part of an increasingly interdependent ecosystem that creates and expands value for shareholders, partners, customers and society.</h6>
    <p>Location: Edinburgh</p>
    <p>Unpaid</p>
    <hr>
    <br>
    <br>
</div>
