<div class="container">
	<div class="card-deck">
		<div class="card border-secondary mb-3">
		  <div class="card-header"><img src="images/companylogos/pwc.jpg"> PwC</div>
		  <div class="card-body text-secondary">
		    <h5 class="card-title">Technology Work Placements <span class="badge badge-pill badge-info">10 months</span></h5>
		    <p class="card-text">We recognise that to bring value to our clients, we need to provide the best advice around technological innovation. With us, you’ll be at the forefront of new ...</p>		    
		  </div>
		  <button type="button" class="btn btn-light">Click for Information</button>
		</div>
		<div class="card border-secondary mb-3">
		  <div class="card-header"><img src="images/companylogos/rbs.jpg"> RBS</div>
		  <div class="card-body text-secondary">
		    <h5 class="card-title">Change &amp; Business Solutions Internship <span class="badge badge-pill badge-info">3 months</span></h5>
		    <p class="card-text">This 10 week summer internship will give you first hand experience of the work we do in Change and Business Solutions. You’ll be supporting us to make sure we ...</p>
		  </div>
		  <button type="button" class="btn btn-light">Click for Information</button>
		</div>
		<div class="card border-secondary mb-3">
		  <div class="card-header"><img src="images/companylogos/adobe.jpg"> Adobe</div>
		  <div class="card-body text-secondary">
		    <h5 class="card-title">Marketing Campaign Placement <span class="badge badge-pill badge-info">12 months</span></h5>
		    <p class="card-text">At Adobe, we’re changing the world. How? We give people the tools to bring their ideas to life and create content that makes life more fun and work more meaningful...</p>
		  </div>
		  <button type="button" class="btn btn-light">Click for Information</button>
		</div>
		<div class="card border-secondary mb-3">
		  <div class="card-header"><img src="images/companylogos/camp.jpg"> Camper UK</div>
		  <div class="card-body text-secondary">
		    <h5 class="card-title">Advertising, Marketing and Sales <span class="badge badge-pill badge-info">10 months</span></h5>
		    <p class="card-text">Camper UK Ltd is a family-run motorhome and caravan business based in Lincoln. With new and used vehicles sales; the largest motorhome workshop in the UK...</p>
		  </div>
		  <button type="button" class="btn btn-light">Click for Information</button>
		</div>
	</div>
</div>