#dropdownMenuButton{ 
	background-color: #FFF; 
	color: #000;
}

.dropdown-menu { 
	right: 0;
	 left: auto;
}

.footer > .container{
  height: 60px;
  background-color: #f5f5f5;
}

.search-bar{
  margin-top: 20px;
  margin-bottom: 20px;
}