#dropdownMenuButton{
	background-color: #FFF;
	color: #000;
}

.headerbtns{
    margin-right: 5px;

}

.dropdown-menu {
	right: 0;
	left: auto;
}

header, footer{
  background-color: #fff;
}

.header, .footer{
/*  background-color: #FAEEFF;*/
  padding-left: 20px;
  padding-right: 20px;
}

.header{
  border-bottom: 1px solid #5D4970;
}

.content{
	padding-bottom: 10vh;
	overflow-y: auto;
}

.footer{
  border-top: 1px solid #5D4970;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.search-bar{
  padding-top: 35px;
  padding-bottom: 35px;
}

.searchColor{
	background-color: #59535E;
	filter: drop-shadow(0px 5px 5px #1F1F1F);
}


.jumbotron .bg-cover{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../images/rgu.jpg");
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
/*    -moz-filter: contrast(125%) grayscale(0.8);
     -o-filter: contrast(125%) grayscale(0.8);
     -ms-filter: contrast(125%) grayscale(0.8);
     filter: contrast(125%) grayscale(0.8); */
}

.description{
	color:white;
	margin-bottom: 3vh;
	position: relative;
	background: none;
}

.description:hover{
    -webkit-filter: grayscale(0.8);
    -moz-filter: grayscale(0.8);
     -o-filter: grayscale(0.8);
     -ms-filter: grayscale(0.8);
     filter: grayscale(0.8);
}

/*!* For the search page *!
.searchResults {
	text-align: justify;
	margin-right: 12%;
	margin-left: 12%;
}*/

a {
  color: black;
  text-decoration: none; /* no underline */
}

a:hover {
    color: black;
    text-decoration: black;
}

.placementInfo {
	text-align: justify;
	margin-right: 12%;
	margin-left: 12%;
	margin-bottom: 8%;
}

.placementTitle{
	margin-bottom: 5vh;
}

.placementTitle > img{
	padding: 5px;
}

.applyButton {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.applyButton:hover {
	background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.form-group {
	margin-left: 20%;
	margin-right: 20%;
}

.btn-group {
	margin-left: 45%;
	margin-right: 45%;
	text-align: center;
}
.navbarcontent {
	margin-top: 26px;
}

.spacer {
	height: 5vh;
}

.mapObject{
	height: 40vh;
}

.loginform{
	margin-top: 40px;
}

.MainCard{
	padding-top: 15px
}
