#dropdownMenuButton{ 
	background-color: #FFF; 
	color: #000;
}

.dropdown-menu { 
	right: 0;
	left: auto;
}

.header, .footer{
/*  background-color: #FAEEFF;*/
  padding-left: 20px;
  padding-right: 20px;
}

.footer{
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.search-bar{
  margin-top: 35px;
  margin-bottom: 35px;
}