<!doctype html>
<html lang="en">
  <% include ../partials/head %>
  <body>
    <% include ../partials/header %>
    <% include ../partials/search-bar %>
    <div class="content"> 
      <div class="spacer"></div>
      <% include ../partials/editaccount %>
    </div>    
    <% include ../partials/footer %>      
    <% include ../partials/scripts %>

  <script src="js/account/account.js"></script>
  </body>
</html>
