<!doctype html>
<html lang="en">
  <% include ../partials/head %>
  <body>
  	<% include ../partials/header %>

	<% include ../partials/search-bar %>
	
	<div class="content">
		<% include ../partials/description %>

		<% include ../partials/testimonies %>
	</div>	

  <% include ../partials/navigationtest %>

	<% include ../partials/footer %>

    <% include ../partials/scripts %>
  </body>
</html>
