<!doctype html>
<html lang="en">
  <% include ../partials/head %>
  <body>
  	<% include ../partials/header %>

    <% include ../partials/search-bar %>

	<div class="content">
		<% include ../partials/description %>

    <% include ../partials/navigation %>

		<% include ../partials/testimonies %>
	</div>

	<% include ../partials/footer %>

  <% include ../partials/scripts %>
  <script src="js/navigation/navigation.js"></script>
  <script src="js/generic/generic.js"></script>
  </body>
</html>
