<!doctype html>
<html lang="en">
<!-- page builder that will pull in partials (prebuilt page sections) and form a full working webpage from that !-->
  <head>
        <% include ../partials/head %>
        <!-- Custom styles for this template -->
        <link href="css/login.css" rel="stylesheet">
        <link href="css/bootstrap-social/bootstrap-social.css" rel="stylesheet">
  </head>
  <body>

    <% include ../partials/header %>

    <div class="container">
        <% include ../partials/login %>
    </div>
  
  </body>

  <footer>
    <% include ../partials/footer %>
  </footer>

  <% include ../partials/scripts %>
<!-- pull in page unique scripts -->
  <script src="js/login/login.js"></script>
  <script src="js/generic/generic.js"></script>
</html>