<!doctype html>
<html lang="en">
  <% include ../partials/head %>
  <body>
  	<% include ../partials/header %>

  <% include ../partials/placementEdit %>

	<% include ../partials/footer %>

    <% include ../partials/scripts %>
  </body>
</html>
