<!doctype html>
<html lang="en">
  <% include ../partials/head %>
  <body>
    <% include ../partials/header %>

    <div class="content">
      <div class="spacer"></div>
      <% include ../partials/placementEdit %>
    </div>

    <% include ../partials/footer %>

    <% include ../partials/scripts %>
    <script src="js/generic/generic.js"></script>
  </body>
</html>
