<!doctype html>
<html lang="en">
  <% include ../partials/head %>
  <body>
  	<% include ../partials/header %>


	<div class="content">
    <div class="spacer"></div>
    <% include ../partials/registerform %>
	</div>

	<% include ../partials/footer %>

  <% include ../partials/scripts %>
  <script src="js/navigation/navigation.js"></script>
  <script src="js/generic/generic.js"></script>
  <script src="js/registration/registration.js"></script>
  </body>
</html>
