<!doctype html>
<html lang="en">
    <head>
        <% include ../partials/head %>
        <!--Search Page Specific Css-->
        <link rel="stylesheet" type="text/css" href="/css/search/search.css">
    </head>
    <body>
        <% include ../partials/header %>

        <% include ../partials/search-bar %>

        <div class="container">
            <% include ../partials/search %>
        </div>

        <% include ../partials/footer %>

        <% include ../partials/scripts %>
        <!-- pull in page unique scripts !-->
       <script src="js/generic/generic.js"></script>
    </body>
</html>
